<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-indigo">
        <a href="#" class="mdui-typo-title">{{.title}}-G8INK</a>
        <div class="mdui-toolbar-spacer"></div>

        <a href="/" target="_blank" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '首页'}">
            <i class="mdui-icon material-icons">home</i>
        </a>
        <!-- <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出登录'}">
            <i class="mdui-icon material-icons">exit_to_app</i>
        </a> -->
    </div>
    <div class="mdui-tab mdui-color-indigo" mdui-tab>
        <!-- <a href="#home" class="mdui-ripple mdui-ripple-white">仪表盘</a> -->
        <a href="#link" class="mdui-ripple mdui-ripple-white">链接管理</a>
        <a href="#ban" class="mdui-ripple mdui-ripple-white">封禁管理</a>
    </div>
</div>
<div class="mdui-m-t-3"></div>
<!-- <div id="home">
    总站{{.gnum}}生成数
</div> -->
<div id="link">
    <div class="mdui-m-b-3">

    </div>

    <div class="mdui-table-fluid">
        <table class="mdui-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ShortCode</th>
                    <th>OriginalUrl</th>
                    <th>Ip</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{range .Linklist}}
                <tr>
                    <td>{{.Id}}</td>
                    <td class="mdui-typo"> <a href="/{{.ShortCode}}" target="_blank"
                            rel="noopener noreferrer">{{.ShortCode}}</a></td>
                    <td style="word-break: break-all;">{{.OriginalUrl}}</td>
                    <td>{{.Ip}}</td>
                    <td>{{.Time}}</td>
                    <td>
                        <a href="/admin/api/DeleteLink?id={{.Id}}"
                            class="mdui-btn mdui-btn-icon mdui-color-red mdui-ripple" mdui-tooltip="{content: '删除'}">
                            <i class="mdui-icon material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="mdui-m-t-2" style="display: flex;
    align-items: center;
    justify-content: space-between;">
        <div>
            <p>共{{.gnum}}短链接—共{{.Linkpagenum}}页—当前{{.Linkpage}}页</p>
        </div>
        <div>
            <a href="/admin/home?linkpage={{.Linkpreviouspage}}"
                class="mdui-btn mdui-btn-icon mdui-color-red mdui-ripple" mdui-tooltip="{content: '上一页'}">
                <i class="mdui-icon material-icons">navigate_before</i>
            </a>
            <a href="/admin/home?linkpage={{.Linknextpage}}" class="mdui-btn mdui-btn-icon mdui-color-red mdui-ripple"
                mdui-tooltip="{content: '下一页'}">
                <i class="mdui-icon material-icons">navigate_next</i>
            </a>
        </div>
    </div>

</div>
<div id="ban">
    <div class="mdui-m-b-3">
        <form action="/admin/api/AddBan" class="mdui-col" method="post">
            <div class="mdui-valign">
                <select class="mdui-select" name="Type" mdui-select>
                    <option value="ip">ip</option>
                    <option value="host">host</option>
                </select>
                <div class="mdui-textfield mdui-m-l-2 mdui-m-b-1" style="width: 100%;">
                    <input class="mdui-textfield-input" type="text" name="Target" placeholder="目标" required />
                </div>
                <button class="mdui-btn mdui-m-l-2 mdui-btn-dense mdui-color-red mdui-ripple">
                    添加
                </button>
            </div>
        </form>
    </div>

    <div class="mdui-table-fluid">
        <table class="mdui-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Target</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{range .Banlist}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Type}}</td>
                    <td>{{.Target}}</td>
                    <td>{{.Time}}</td>
                    <td>
                        <a href="/admin/api/DeleteBan?id={{.Id}}"
                            class="mdui-btn mdui-btn-icon mdui-color-red mdui-ripple" mdui-tooltip="{content: '删除'}">
                            <i class="mdui-icon material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>