<div class="content">
  <form id="form">
    <input type="text" name="url" id="url" placeholder="请以http://或https://开头" autocomplete="off" required>
    <input type="text" name="code" id="code" style="display: none;" placeholder="自定义后缀" autocomplete="off">
    <input type="submit" value="生成" id="g">
  </form>
  <div id="shorturl"></div>

</div>

<script>
  $('#title').click(function () {
    if ($("#url").css("display") === "none") {
      $("#url").css("display", "block")
      $("#code").css("display", "none")
    } else {
      $("#url").css("display", "none")
      $("#code").css("display", "block")
    }
  })
  $('#form').submit(function () {
    $("#shorturl").html("请稍等...")
    $("#g").attr("disabled", "disable")
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/",
      data: $('#form').serialize(),
      success: function (result) {
        // console.log(result);
        if (result.Code == 200) {
          $("#shorturl").html(result.Shorturl)
        } else {
          $("#shorturl").html(result.Message)
        }
        $("#g").removeAttr("disabled")
      },
      error: function () {
        $("#shorturl").html("异常")
        $("#g").removeAttr("disabled")
      }
    });
    return false;
  })

</script>