body {
    margin: 0 auto;
    max-width: 600px;
}

.content {
    margin-top: 20vh;
    min-height: 70vh;
    padding: 0 20px;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.638);
    margin-bottom: 3rem;
}

#form {
    display: flex;
}

#url,#code {
    width: 100%;
    margin-right: 10px;
    border: none;
    border-bottom: 1px rgb(0, 0, 0) solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
}

#shorturl {
    height: 2rem;
    margin-top: 10px;
    color: rgba(248, 72, 72, 0.611);
}

#g {
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease;
}

#g:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.431);
}

a {
    color: rgba(0, 0, 0, 0.431);
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
    word-break: break-all;
}